.tab-wrapper {
  max-width:1100px;
  margin: 10px 0;
  background: white;
  padding: 40px 20px;
}

.tab-header {
  display: flex;
  gap: 10px;
}

.tab-button {
  padding: 10px 20px;
  border: none;
  background: #ccc;
  border-radius: 15px 15px 0 0;
  font-weight: bold;
  cursor: pointer;
  color: white;
  background-color: #1e6c43;
}

.tab-button.active {
  background-color: white;
  color: #1e6c43;
  border: 2px solid #ccc;
  border-bottom: none;
}

.tab-content {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 0 0 10px 10px;
  background-color: #f9f9f9;
}

.tab-list {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  gap: 20px  40px;
  padding-left: 0;
  list-style: none;
  margin: 0;
}

.tab-item {
  gap: 10px;
  font-size: 16px;
  color: #333;
}

.location-button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.location-button {
  background-color: #006b3c;
  color: white;
  border: none;
  padding: 12px 24px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.location-button:hover {
  background-color: #004f2a;
}

@media (max-width: 768px) {
  .tab-wrapper {
    padding: 20px 10px;
  }

  .tab-header {
    flex-direction: column;
    gap: 8px;
  }

  .tab-button {
    width: 100%;
    border-radius: 10px;
    text-align: center;
  }

  .tab-button.active {
    border: 2px solid #ccc;
    border-bottom: none;
    border-radius: 10px;
  }

  .tab-content {
    padding: 15px;
    font-size: 14px;
  }

  .tab-list {
    grid-template-columns: 1fr;
    gap: 16px;
  }

  .tab-item {
    font-size: 14px;
  }

  .location-button-container {
    flex-direction: column;
    align-items: center;
  }

  .location-button {
    width: 100%;
    max-width: 300px;
    font-size: 15px;
    padding: 10px 20px;
  }
}
