@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  font-family: 'Poppins', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #e2e6e8;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 150px;
}

.home-container {
  display: flex;
  height: 100vh;
  width: 100%;
}

.main-content {
  flex: 1;
  overflow-y: auto;
}

.sidebar-column {
  width: 250px;
  background-color: #ccc;
  position: sticky;
  top: 0;
  height: 100vh;
  flex-shrink: 0;
}


/* ===== Mobile Styles ===== */
@media (max-width: 768px) {
  .sidebar-column {
    display: none; /* Hide sidebar on small screens */
  }

  .home-container {
    flex-direction: column;
    height: auto;
  }

  .main-content {
    width: 100%;
    padding-bottom: 30px; 
    overflow-y: visible;   
  }
}
